// Fonts
$font__poppins: 'Poppins', sans-serif;

// Colors
$color__button-disabled--gray: #b4b4b4;
$color__quiz--red: #e73445;
$color__required--red: #ff0000;
$color__default--white: #fff;
$color__default--gray: #ccc;
